<div class="background-fill">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color: #48cfbf">
    <path fill="#009aa6" fill-opacity="1" [attr.d]="firstPath"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color: #009aa6">
    <path fill="#006881" fill-opacity="1" [attr.d]="secondPath"></path>
  </svg>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" style="background-color: #006881">
    <path fill="#003954" fill-opacity="1" [attr.d]="thirdPath"></path>
  </svg>
</div>