/* Coolors Exported Palette - coolors.co/344355-f2545b-a93f55-bf0e2a-f3f7f0 */

/* HSL */
$color1: hsla(213%, 24%, 27%, 1);
$color2: hsla(357%, 86%, 64%, 1);
$color3: hsla(348%, 46%, 45%, 1);
$color4: hsla(351%, 86%, 40%, 1);
$color5: hsla(94%, 30%, 95%, 1);

/* RGB */
$color1: rgba(52, 67, 85, 1);
$color2: rgba(242, 84, 91, 1);
$color3: rgba(169, 63, 85, 1);
$color4: rgba(191, 14, 42, 1);
$color5: rgba(243, 247, 240, 1);