<h3>My virtual business card</h3>
<h1>Hey it's me, Benjamin</h1>
<p class="about">
    I'm a software developer living in Bern, the capital of Switzerland, where I work for <a href="https://mobiliere.ch" target="_blank">La Mobilière</a>. I am involved in the maintenance and development of the <a href="https://www.mobiliere.ch/assurances-et-prevoyance/services/applications-de-la-mobiliere/la-application-de-la-mobiliere" target="_blank">client app</a> (iOS and Android) as a front-end developer. My main competences are web programming, app development and testing. Currently my tech stack is mainly composed of typescript, ionic (cordova), angular, rxjs, karma, jasmine, webdriver and appium.
    <br><br>
    In my blog I try to keep track of all the new technologies I discover and problems I run into. It is currently under construction but I would be flattered If you took a sneak peek.
</p>

