:host {
    .image-container {
        min-height: 120px;
        background: #52796F;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        margin: -10px -10px 0px -10px;
        border-bottom: 3px solid #666;
        position: relative;
        .image {
            position: absolute;
            left: calc(50% - 65px);
            bottom: -40px;
            border-radius: 50%;
            width: 130px;
            height: 130px;
            border: 3px solid #666;
            background: #FFF;
        }
    }
    h1 {
        padding-top: 35px;
        text-transform: uppercase;
        font-weight: 200;
        text-align: center;
    }
}