/* You can add global styles to this file, and also import other style files */
html{
    background: rgb(18,19,20);
    background: linear-gradient(153deg, rgba(18,19,20,1) 0%, rgba(19,20,21,1) 100%);
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Livvic', sans-serif;
    h1, h2, h3, h4, h5 {
        color: #252529;
    }
    h1 {
        font-size: 1.5em;
        padding: 0;
    }
    h3 {
        font-size: 0.7em;
        margin: 0;
        font-weight: 300;
        text-transform: uppercase;
    }
    p {
        font-weight: 300;
    }
}